@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#text-logo{
    color : var(--primary-color);
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Pacifico', cursive;
}