body{
    background-color: black;
    text-align : center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flexbox;
    flex-direction: column;
    overflow-anchor: none;
  
    
}



#postArea{
    width : 98%;
    
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 100px;

}

.postWrapper{
    text-align: left;
    background-color:#1C1C1C;
    
    width :90%;
    border-radius: 20px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 1rem;;
    
}

.postTitle{
    color : rgba(177, 174, 174, 0.877);
    font-size: 2rem;
}

.postContent{
    color : rgba(177, 174, 174, 0.623);
    font-weight:normal;
}

.postFooter{
    text-align: right;
    color: rgb(109, 37, 109);;
}

#loadMoreBt{
    font-size: 17px;
    color: white;
    background-color:rgb(83, 19, 83);
    border: none;
    height : 2rem;
    width : 98%;
    border-radius: 20px;
    
    
}

#loadMoreBt:hover{
    background-color:  rgb(109, 37, 109) ;
}



