{% extends "navbar.html" %}
{% block html %}
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//changePass.css')}}">

        <title>Change Password</title>
        

    </head>

    <body>
       
    
        <form method="POST" > 
            <div id = "ChangePassWrapper">
            <p class = "titleLb">Change Password</p>

            <label class = "enterLb">Enter New Password : </label>   

            <input class = "textEnter" type="password" name = "newPassword" id = "newPassword" >
            <br>
            
            <label class = "enterLb">Confirm the New Password : </label>
            
            <input class = "textEnter" type = "password" name = "confirmPassword" id  = "confirmPassword">
            
            <div>
                    <input class= "showPassCheck" type = "checkbox" id = "showPassCheck">
                    <label class = "showPassCheckLb" for = "showPassCheck" > Show Password</label> 
            </div>
            
            <button class = "submitBt">Submit</button>
            

            </div> 
        </form>

        <script>
            showPassCheck = document.getElementById("showPassCheck");
                showPassCheck.onclick = function(){
                    if (showPassCheck.checked){
                        document.getElementById("newPassword").type = "text";
                        document.getElementById("confirmPassword").type = "text";
                    }
                    else{
                        document.getElementById("newPassword").type = "password";
                        document.getElementById("confirmPassword").type = "password";
                    }
                }
        </script>
    
    </body>

</html>

{%endblock%}
