{% extends "navbar.html" %}
{% block html %}
<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>

    <head>
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//login.css')}}">
    </head>
    
    <title>
        Login   
    </title>
    <body>
        <div id = "wrapper">
            <div class = "Box">

                <form id = "Frm" method="POST" autocomplete="off">
                    <p class = "titleLb">Log In </p>

                    <label class = "enterLb" >Enter Username : </label>
                    <br>
                    <input class = "textEnter" id = "userEnter" autocomplete="false" name = "username"> 
                    <br >
                    <label class = "enterLb">Enter Password : </label>
                    <br>
                    <input class = "textEnter" type = "password" id = "passEnter" name = "password">  
                    <br>
                    <input class= "showPassCheck" type = "checkbox" id = "showPassCheck">
                    <label class = "showPassCheckLb" for = "showPassCheck" > Show Password</label>  
                    <br><br>
                    <div id  = "buttonWrapper">
                        <button class= "submitBt"  >Log In</button> 
                    </div> 
                    <br>
                    <a href = {{ url_for("signup") }} class  = "insteadText" >
                    <div class  = "insteadText">
                    
                            Sign Up Instead
                    </div>
                    </a>
                
                </form> 
            </div>
        </div>
        <!-- <div class = "outer">
            <div class = "middle">
            </div>
        </div>-->
        
       

        
    </body>

    <script>
        showPassCheck = document.getElementById("showPassCheck");
        showPassCheck.onclick = function(){
            if (showPassCheck.checked){
                document.getElementById("passEnter").type = "text"
            }
            else{
                document.getElementById("passEnter").type = "password"
            }
        }

        {% with messages = get_flashed_messages() %}
            {%if messages %}
                {%for msg in messages %}
                    alert("{{msg}}")
                {%endfor%}
            {%endif%}
        {%endwith%}

    </script>
</html>



{%endblock%}