
{% extends "userpage.html" %}



        
        {% block settings%}
        <head>
            <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//me.css')}}">
            <title>ME</title>
        </head>
        <div id = "actionsWrapper" >
            <a class = "action" href = {{url_for("logout")}}>
                <div>
                    logout 
                </div>
            </a>

            <a class = "action" href = {{url_for("changePassword")}}>
                <span>
                    Change Password 
                </span>
            </a>
        </div>
        {% endblock %}

   
