
{% extends "userpage.html" %}

        
        {% block settings%}
        <head>
            <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//me.css')}}">
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
          
        </head>
        <div id = "actionsWrapper" >
            <a class = "action" href = {{url_for("logout")}}>
                <div>
                    logout 
                </div>
            </a>

            <a class = "action" href = {{url_for("changePassword")}}>
                <span>
                    Change Password 
                </span>
            </a>
        </div>
        {% endblock %}
