
{% extends "userpage.html" %}

        
        {% block settings%}
        
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//me.css')}}">
            
        <div id = "actionsWrapper" >
            <a class = "action" href = {{url_for("logout")}}>
                <div>
                    logout 
                </div>
            </a>

            <a class = "action" href = {{url_for("changePassword")}}>
                <span>
                    Change Password 
                </span>
            </a>
        </div>
        {% endblock %}
