{% extends "navbar.html" %}
{% block html %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User -{{userinfo.name}}</title>
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//userpage.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
     
         
      

        <div id = "UserInfoWrapper">
            <span id = "title"> 
                {{userinfo.name}}
            </span>

            <span class = "wrapper">
                <span class = "Joined-field">
                    <span class = "Joined-title">
                        Joined On : 
                    </span>
                    <span class = "Joined-value">
                        {{userinfo.dateJoined.strftime('%d %b %Y')}}
                    </span>
                </span>
               
                <span id = "followBt">
                    {{'Follow' if user.strip() not in followers else 'Unfollow'}}
                </span>

            </span>
           
            <span class ="wrapper">
               
                <span class = "info-field">
                    <span class = "info-title" >
                        Gender 
                    </span>

                    <span class = "info-value">
                        {{ 'Male' if userinfo.gender=="M" else "Female" }}
                    </span>
                </span>
            

                <span class = "info-field" id = "FollowersBt">
                    <span class = "info-title" >
                        Followers 
                    </span>
                    <span class = "info-value">
                        {{followerCount}}
                    </span>
                </span>

                <span class = "info-field" id = "FollowingBt">
                    <span class = "info-title" >
                        Following 
                    </span>
                    <span class = "info-value">
                        {{followingCount}}
                    </span>
                </span>
            </span>

            
        </div></span>

        <div id = "followersWrapper" class = "followWrapper">
                <span class = "followTitle">Followers</span>

                {% for user in followers : %}
                    <a href =  {{url_for('userPage', username = user)}} class = "followUser">{{user}}</a>
                {%endfor%}
        </div> 

        
        <div id = "followingWrapper" class = "followWrapper">
            <span class = "followTitle">Following</span>

            {% for user in following : %}
                <a href =  {{url_for('userPage', username = user)}} class = "followUser">{{user}}</a>
            {%endfor%}
    </div> 


        <script>
            $(document).ready(function(){
                
               $('#followBt').click(function(){
                   if ($('#followBt').html().trim() == 'Unfollow' ){
                       
                        $.ajax({
                            type: "POST",
                            url: "/unfollow/",
                            data: {
                                'username' : $('#title').html().trim()
                            },
                            success: function (response) {
                                window.location.reload();
                            }
                        });
                   }

                   else {
                    $.ajax({
                            type: "POST",
                            url: "/follow/",
                            data: {
                                'username' : $('#title').html().trim()
                            },
                            success: function (response) {
                                window.location.reload();
                            }
                        });
                   } 
               })
                })

                $('#FollowersBt').click(function(){
                    if ($('#followersWrapper').css('display').trim() == 'none'){
                        $("#followersWrapper").css('display','flex');
                        $("#followingWrapper").css('display','none');}
                    else
                    $("#followersWrapper").css('display','none');
                })

                $('#FollowingBt').click(function(){
                    if ($('#followingWrapper').css('display').trim() == 'none'){
                        $("#followingWrapper").css('display','flex');
                        $("#followersWrapper").css('display','none');}
                    else
                    $("#followingWrapper").css('display','none');
                })

        </script>

    {% block settings %} {% endblock %}

    </body>

</html>
{%endblock%}