{% extends "navbar.html" %}
{% block html %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User -{{userinfo.name}}</title>
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//userpage.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>

    <body>
     
         
      

        <div id = "UserInfoWrapper">
            <span id = "title"> 
                {{userinfo.name}}
            </span>

            <span class = "wrapper">
                <span class = "Joined-field">
                    <span class = "Joined-title">
                        Joined On : 
                    </span>
                    <span class = "Joined-value">
                        {{userinfo.dateJoined.strftime('%d %b %Y')}}
                    </span>
                </span>
               
                <span id = "followBt">
                    {{'Follow' if user.strip() not in followers else 'Unfollow'}}
                </span>

            </span>
           
            <span class ="wrapper">
               
                <span class = "info-field">
                    <span class = "info-title" >
                        Gender 
                    </span>

                    <span class = "info-value">
                        {{ 'Male' if userinfo.gender=="M" else "Female" }}
                    </span>
                </span>
            

                <span class = "info-field">
                    <span class = "info-title" >
                        Followers 
                    </span>
                    <span class = "info-value">
                        {{followerCount}}
                    </span>
                </span>

                <span class = "info-field">
                    <span class = "info-title" >
                        Following 
                    </span>
                    <span class = "info-value">
                        {{followingCount}}
                    </span>
                </span>
            </span>

        </div>

        <script>
            $(document).ready(function(){
                
               $('#followBt').click(function(){
                   if ($('#followBt').html().trim() == 'Unfollow' ){
                       
                        $.ajax({
                            type: "POST",
                            url: "/unfollow/",
                            data: {
                                'username' : $('#title').html().trim()
                            },
                            success: function (response) {
                                window.location.reload();
                            }
                        });
                   }

                   else {
                    $.ajax({
                            type: "POST",
                            url: "/follow/",
                            data: {
                                'username' : $('#title').html().trim()
                            },
                            success: function (response) {
                                window.location.reload();
                            }
                        });
                   } 
               })
            })

        </script>

    </body>

</html>
{%endblock%}