{% extends "navbar.html" %}
{% block html %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>User -{{userinfo.name}}</title>
        <link rel ="stylesheet" type = "text/css" href= "{{url_for('static', filename = 'css//userpage.css')}}">

    </head>

    <body>
     
         
      

        <div id = "UserInfoWrapper">
            <span id = "title"> 
                {{userinfo.name}}
            </span>

            <span class = "info-field">
                <span class = "info-title" >
                    Gender :
                </span>

                <span class = "info-value">
                    {{userinfo.gender}}
                </span>
                
            </span>

            <span class = "info-field">
                <span class = "info-title">
                    Date Joined : 
                </span>
                <span class = "info-value">
                    {{userinfo.dateJoined}}
                </span>
            </span>

        </div>

    </body>

</html>
{%endblock%}